.DS_Store
docker_persistent_volumes/*
data/000_in/*
data/900_out/*
# Added by mlkcontext
# -------------------
docker/010-dev/config/postgis/postgresql.conf
docker/020-swarms/docker-compose.yaml
docker/020-swarms/INSTANCE
docker/020-swarms/020_docker_stack_deploy.sh
docker/020-swarms/910_docker_volume_rm.sh
docker/020-swarms/100-psql.sh
docker/020-swarms/900_docker_stack_remove.sh
docker/020-swarms/015-docker-image_pull.sh
docker/015-production_image/assets/initdb.sh
docker/015-production_image/assets/postgresql.conf
docker/015-production_image/assets/pg_hba.conf
# -------------------